@font-face {
  font-family:'Amazon Ember';
  src:url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2) format("woff2"),
  url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-8a9db402d8966ae93717c348b9ab0bd08703a7a7._V2_.woff) format("woff")
}

@font-face {
  font-family:'Amazon Ember';
  font-style:italic;
  src:url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-9cc1bb64eb270135f1adf3a4881c2ee5e7c37be5._V2_.woff2) format("woff2"),
  url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-a4dc98d644ff2aedd41da3da462f09ffce86eafb._V2_.woff) format("woff")
}

@font-face {
  font-family:'Amazon Ember';
  font-weight:700;
  src:url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-46b91bda68161c14e554a779643ef4957431987b._V2_.woff2) format("woff2"),
  url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-b605252f87b8b3df5ae206596dac0938fc5888bc._V2_.woff) format("woff")
}

@font-face {
  font-family:'Amazon Ember';
  font-style:italic;font-weight:700;
  src:url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-80ff7aba37dd1ff5a6b90233a19e3a780a96dc2f._V2_.woff2) format("woff2"),
  url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-57598ce426a612be5a1d15eee08252668fca5e7a._V2_.woff) format("woff")
}

html {
  font-family: Amazon Ember;
}

body {
  margin: 0;
  animation: bgColor 2s;
}

#components {
  animation: fadeIn 2s;
}

#proxy_summary_wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
}

/* Comment this out */
/* #gall_root {
  width: 30vw;
} */

#cart-app {
  min-width: 300px;
}

.bar {
  border-bottom: 1px solid #e7e7e7;
  margin: 20px 10px;
}

.first_bar {
  margin: 20px 20vw;
}

#des_itemDescriptionModule {
  width: 90%;
  margin-left: 4%;
}

#proxy_witch {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 40%;
  animation: xAxis 3s;
}

#master-artboard {
  fill: cadetblue;
  animation: yAxis 3s;
}

#hero_logo {
  z-index: 100;
  position: absolute;
  top: 10%;
  left: 15%;
  animation: fadeOut 2s;
}

#QA-comp-cont {
  border: none;
  margin-left: 10px;

}

#qa-title {
  margin-top: 0;
  color: red;
}

#moon {
  fill: whitesmoke;
  width: 1000px;
  height: auto;
  position: absolute;
  top: 40%;
  left: 15%;
  animation: fadeOut 2s;
}

#Carousel {
  margin-bottom: 60px;
}

/* Uncomment for page load testing: */
/* #rev_reviews_container{
  height: 600px;
}

#aggregate_rev_container {
  height: 600px;
} */

/* @keyframes yAxis {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(-100px);
  }
}

@keyframes xAxis {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(100px);
  }
} */

@keyframes yAxis {
  0% {
    transform: translateY(1000px);
    opacity: 1;
  }
  
  30% {
    transform: translateY(-200px);
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}

@keyframes xAxis {
  0% {
    transform: translateX(1000px);
  }
  
  100% {
    transform: translateX(-1000px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} 

@keyframes bgColor {
  0% {
    background: #232F3E;
  }
  50% {
    background: #232F3E;
  }
  100% {
    background: white;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
} 